<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>show data</title>
</head>
<body>
    <div class="mainheader text-center">
		<h1 class=" text-uppercase text-danger mb-3">Record of Persons</h1>
	</div>
    <div class="container">

        <div class="row m-3 ">
		
            {% for name,contact,status,img_link in posts %}
                <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
                    <div class="inner" style="border: 2px solid red; padding:20px; box-shadow: 0px 0px 10px 3px red;">
                        <h3 class="bg-success  text-center text-capitalize text-light">{{name}}</h3>
                        <img src="media/{{ img_link }}" alt=""class="img-fluid">
                        <span class=" ml-3">Image Staus</span>:<span class="bg-danger text-light">{{status}}</span> 
                         <p>ContactNumber: <span class="bg-primary">{{contact}}</span></p>
                    </div>            
        </div>

        {% endfor %}

        </div>

        </div>
</body>
</html>

